<%= form_with(model: @artist) do |form| %>
    <div>
        <%= form.label :artist_name %>
        <%= form.text_field :artist_name %>
    </div>
        <%= form.submit%>
  <% end %>

  <li><%= link_to "Powrót", artists_path %></li>