<div class="title is-3">
<%=@artist.artist_name%><br>
</div>

<table class="table is-striped is-hoverable is-fullwidth ">
<thead>
<th>
Disc Name
</th>
<th>
Type
</th>
</thead>
<%@artist.discs.each do |disc|%>
<tr>
<td>
<%=link_to disc.disc_name, disc_path%>
</td>
<td>
<%= disc.music_type %>
</tr>
<% end %>
</table>



<%= render "discs/form"%>

<div class="mx-1">
<%= link_to "Powrót", root_path, class:"button is-link" %>
<%= link_to "Edit", edit_artist_path(@artist), class:"button is-warning" %>
<%= link_to "Destroy", artist_path(@artist),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "button is-danger" %>
</div>

