<%= @artist.artist_name%><br>

<%@artist.discs.each do |disc|%>
<%=link_to disc.disc_name, disc_path%><br>
<% end %>

<br>

<%= render "discs/form"%>

<ul>
  <li><%= link_to "Powrót", root_path %></li>
  <li><%= link_to "Edit", edit_artist_path(@artist) %></li>
  <li><%= link_to "Destroy", artist_path(@artist),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>