<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= javascript_pack_tag "hamburger_menu.js" %>
    <b><%= link_to "Music Library",root_path, class:"navbar-item" %></b>
    <a role="button" class="navbar-burger burger" id="burger" onclick="toggleBurger()" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div id='nav-menu' class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
          Artists
        </a>
      <div class="navbar-dropdown">
        <%= link_to "Artists", artists_path, class:"navbar-item" %>
        <%= link_to "Add new Artist", new_artist_path, class:"navbar-item" %>
      </div>
      </div>
        <%= link_to "Discs", discs_path, class:"navbar-item" %>
        <%= link_to "Songs", songs_path, class:"navbar-item" %>
        <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"navbar-item" %>
        <% else %>
        <%= link_to "Log In", new_user_session_path, class:"navbar-item" %>
        <%= link_to "Sing Up", new_user_registration_path, class:"navbar-item" %>
        <%end%>
        </div>
        </div>


        </div>
      </div>
    </div>
  </div>
</nav>
