
<table class="table is-striped is-hoverable is-fullwidth ">

<thead>
<tr>
<th>
Id
</th>
<th>
Name
</th>
<th>
Artist
</th>
<th>
Type
</th>
<th>
Tracks
</th>
<th>
Premiere
</th>
</tr>
</thead>
<% @discs.each do |disc| %>
<tr>
<td>
<%= disc.id%><br>
</td>
<td>
<%=link_to disc.disc_name, disc_path(disc)%>
</td>
<td>
<% disc.artists.each do |artist| %>
<%=link_to artist.artist_name, artist_path(artist)%><br>
<% end %>
</td>
<td>
<%=disc.music_type %>
</td>
<td>
<%=disc.songs.count %>
</td>
<td>
Data premiery
</td>
</tr>
<% end %>
</table>




<%= link_to "Powrót do Artystów", artists_path%>