
<div class="title is-2">
<%=@disc.disc_name%><br>
</div>

<% @disc.artists.each do |artist| %>
<div class="title is-4">
<%=link_to artist.artist_name, artist_path(artist)%><br>
</div>

<% end %>


<table class="table is-striped is-hoverable is-fullwidth ">
<thead>
<tr>
<th>
Lp
</th>
<th>
Nazwa
</th>
</tr>
</thead>
<% @disc.songs.each do |song| %>
<tr>
<td>
<%= song.track_number%>
</td>
<td>
<%= song.song_name %><br>
</td>
</tr>
<% end %>
</table>

<ul>
 <li><%= link_to "Delete", disc_path(@disc),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<li><%=link_to "powrót do listy płyt", discs_path%></li>
</ul>
</br>
</br>
</br>

<%= render "songs/form" %>
</br>
</br>
</br>
