<%=@disc.disc_name%><br>


<% @disc.artists.each do |artist| %>
<%=artist.artist_name%><br>
<% end %>


</br>
</br>
<% @disc.songs.each do |song| %>
<%= song.song_name %><br>
<% end %>


<ul>
 <li><%= link_to "Delete", disc_path(@disc),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<li><%=link_to "powrót do listy płyt", discs_path%></li>
</ul>
</br>
</br>
</br>

<%= form_for([@disc, @song], remote: true) do |form| %>
    <div>
        <%= form.label :song_name %>
        <%= form.text_field :song_name %>
    </div>
        <div>
        <%= form.label :track_number %>
        <%= form.number_field :track_number %>
    </div>
    <div>
        <%= form.submit %>
    </div>
  <% end %>
</br>
</br>
</br>
