
<div class="title is-2">
<%=@disc.disc_name%><br>
</div>

<% @disc.artists.each do |artist| %>
<div class="title is-4">
<%=link_to artist.artist_name, artist_path(artist)%><br>
</div>

<% end %>


<table class="table is-striped is-hoverable is-fullwidth ">
<thead>
<tr>
<th>
Lp
</th>
<th>
Nazwa
</th>
</tr>
</thead>
<% @disc.songs.each do |song| %>
<tr>
<td>
<%= song.track_number%>
</td>
<td>
<%= song.song_name %><br>
</td>
</tr>
<% end %>
</table>

<%= render "songs/form" %>


<div class="mx-1 mt-5">
<%= link_to "Delete disc", disc_path(@disc),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class:"button is-danger" %></li>
<%=link_to "Back to discs list ", discs_path, class:"button is-link"%></li>
</div>


</br>
</br>
</br>
