<!DOCTYPE html>
<html>
  <head>
    <title>Musiclib</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="Site">

        <%= render "home/nav"%>
        <% if flash[:alert]%>
        <div class="notification is-danger">
        <button class="delete"></button>
         <%= flash[:alert] %>
        </div>
        <% elsif flash[:notice] %>
         <div class="notification is-success">
            <button class="delete"></button>
          <%= flash[:notice] %>
          </div>
          <% end %>
            <main class="Site-content">
              <%= yield %>
            </main>
          <%= render "home/footer"%>

  </body>
</html>
